<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block head_title %}DUCSU{% endblock %}
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="h-screen bg-green-700">
        <div class="container max-w-[1280px] mx-auto ">
            <div class="flex justify-between items-center">
                <div>
                    <img class="absolute h-30 w-80 -left-4 -top-2" src="static/images/ducsu_logo.png" alt="Logo">
                </div>

                <div class="text-white flex pt-6">
                    {% if request.user.is_authenticated %}
                    <a class="hover:bg-green-400 hover:rounded-xl hover:px-2 px-2" href="{% url 'home' %}">Home</a>
                    <a class="hover:bg-green-400 hover:rounded-xl hover:px-2 px-2" href="{% url 'myprofile' %}">Welcome,
                        {{ request.user.username }}</a>
                    {% else %}
                    <a class="hover:bg-green-400 hover:rounded-xl hover:px-2 px-2" href="{% url 'home' %}">Home</a>
                    <a class="hover:bg-green-400 hover:rounded-xl hover:px-2 px-2" href="{% url 'login' %}">Login</a>
                    <a class="hover:bg-green-400 hover:rounded-xl hover:px-2 px-2"
                        href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>



            <div class="flex gap-[100px]">
                <div class="text-sky-200 w-1/4 flex flex-col gap-10 pt-[200px]">
                    <div class="text-5xl font-bold">
                        <h1>Online Voting</h1>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur,
                            adipisicing elit. Eum enim odio assumenda commodi, mollitia quaerat!
                        </p>
                    </div>
                    <div>
                        <a href="{% url 'position' %}"
                            class="border-2 border-xl rounded-3xl p-2 text-md hover:border-green-400 hover:text-white">Get
                            Started</a>
                    </div>
                </div>


                <div>
                    <div class="pt-[30px]">
                        <img class="w-[800px]" src="static/images/home.png" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>