{% extends 'root.html' %}

{% block head_title %} DUCSU | Voting{% endblock %}

{% block content %}
<section class="content" style="max-height: 80vh; overflow-y: auto;">
  <h1 class="page-header text-center title"><b>{{ election.title }}</b></h1>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <div class="alert alert-danger alert-dismissible" id="alert" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="message"></span>
      </div>
{% if election %}
<form method="POST" id="ballotForm" action="{% url 'submit_ballot' %}">
  {% csrf_token %}
  <div class="bg-gray">
    {{ ballot|safe }}
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-success btn-flat bg-green-500" id="preview"><i class="fas fa-file-pdf fa-sm"></i></i> Preview</button>
    <button type="submit" class="btn btn-primary bg-blue-500 btn-flat" name="submit_vote"><i class="fas fa-vote-yea fa-sm"></i></i> Submit</button>
</div>
</form>

{%else %}

<h1 class=" text-2xl text-blue-800">Hi {{ request.user.username }}, you can vote in an election at once. After the finished of one election in a period of time , you can vote another election.</h1>
  <b> For voting, Choose an Election that you wanna vote</b>
<div class="box-header with-border">
  <a href="#addnew" data-toggle="modal" class="btn btn-primary btn-sm btn-flat">
    <i class="far fa-plus-square"></i> Election</a>
</div>

{% endif %}
    </div>
  </div>
</section>
{% endblock content %}

{% block custom_js %}
<script>
  $(function() {
      $('.content').iCheck({
          checkboxClass: 'icheckbox_flat-green bg-green-500',
          radioClass: 'iradio_flat-green'
      });

    $(document).on('click', '.reset', function (e) {
      e.preventDefault();
      var desc = $(this).data('desc');
      $('.' + desc).iCheck('uncheck');
    });

    $(document).on('click', '.platform', function (e) {
      e.preventDefault();
      $('#bio').modal('show');
      var platform = $(this).data('bio');
      var fullname = $(this).data('fullname');
      $('.candidate').html(fullname);
      $('#plat_view').html(platform);
    });

    $('#preview').click(function (e) {
      e.preventDefault();
      var form = $('#ballotForm').serialize();
      console.log(form);
      if (form.search("&") < 0 || form == '') {
        toastr.error('You must vote at least one candidate', "Preview Error");
      } else {
        $.ajax({
          type: 'POST',
          url: '{% url "preview_vote" %}',
          data: form,
          dataType: 'json',
          success: function (response) {
            if (response.error) {
              var errmsg = '';
              var messages = response.message;
              for (i in messages) {
                errmsg += messages[i];
              }
              toastr.error(errmsg, "Preview Error")
            } else {
              $('#preview_modal').modal('show');
              $('#preview_body').html(response.list);
            }
          }
        });
      }

    });

  });


</script>

{% endblock custom_js %}

{% block modal %}
<div class="modal fade" id="addnew">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><b>Select Election</b></h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" method="POST" action="{% url 'userProfile' %}">
              {% csrf_token %}
             
              <select name="selectedElection" id="selected-election">
                {% for election in elections %}
                    <option value="{{ election.id }}">{{ election.title }}</option>
                {% endfor %}
            </select>

          <div class="modal-footer">
            <button type="button" class="btn btn-warning btn-flat pull-left" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
            <button type="submit" class="btn btn-success btn-flat" name="add"><i class="fas fa-save"></i> Save</button>
          </div>
        
      </form>
        
        
        
        </div></div></div></div>


<!-- Details -->

<div class="modal fade" id="bio">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><b><span class="candidate"></b></h4>
      </div>
      <div class="modal-body">
        <p id="plat_view"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning btn-flat pull-left" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Preview -->
<div class="modal fade" id="preview_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Vote Preview</h4>
      </div>
      <div class="modal-body">
        <div id="preview_body"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning btn-flat pull-left" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}