{% load static %}
<header class="logo ">
    <div class="flex justify-between pt-6 h">
      <div class="">
        <img style="width:200px; height:40px;"  src="{% static 'images/logo_t.png' %}" alt="Logo">
      </div>                


      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar ">
        
            <div class="flex font-bold text-white text-3xl gap-8 pr-8">
              <a class="hover:bg-pink-500 hover:rounded-xl hover:px-2 px-2 hover:text-white" href="{% url 'home' %}">Home</a>
              <a class="hover:bg-pink-500 hover:rounded-xl hover:px-2 px-2 hover:text-white"> Username : {{ request.user.username }}</a>
            </div>       
      </nav>
  </div>
  
</header>
 
{% include "bio.html" %}