{% extends "root.html" %}

{% block head_title %} DUCSU | Positions{% endblock %}
{% block content %}

<div class="col-lg-12 mx-auto shadow text-black">
    <div class="bg-green-500 text-white p-4 text-center rounded-t-lg">
        <h2 class="text-2xl font-bold">Position</h2>
    </div>
    <div class="p-4">
        {% if positions %}
        <table class="min-w-full border border-gray-300 ">
            <thead class="bg-gray-100">
                <tr>
                    <th class="py-2 px-4">Name</th>
                    <th class="py-2 px-4">Maximum Votes</th>
                    <th class="py-2 px-4">Priority</th>
                    <th class="py-2 px-4">Action</th>
                </tr>
            </thead>
            <tbody class="border border-2">
                {% for pos in positions %}
                <tr>
                    <td class="py-2 px-4 text-center">{{ pos.name }}</td>
                    <td class="py-2 px-4 text-center">{{ pos.max_vote }}</td>
                    <td class="py-2 px-4 text-center">{{ pos.priority }}</td>
                    <td class="py-2 px-4 text-center">
                        <a class="py-2 px-2" href="{% url 'edit_position' id=pos.id %}"><box-icon
                                name='edit'></box-icon></a></a>
                        <a class="py-2 px-2" href="{% url 'delete_position' id=pos.id %}"><box-icon
                                name='minus'></box-icon></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        {% else %}
        <h1>There is no data available</h1>
        {% endif %}
    </div>

</div>

{% endblock content %}