{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title> {% block head_title %} DUCSU {% endblock %} </title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
  <!-- for icons  -->
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

  <!-- custom style -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
  <!-- custom javascript -->
  <script src="{% static 'js/script.js' %}" type="text/javascript"></script>

  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col min-h-screen">
  <!-- Include Navbar -->

  {% include "navbar.html" %} {% if request.user.is_authenticated %}

  <!-- Sidebar and Content -->
  <div class="flex flex-row flex-1">
    <!-- Include Sidebar -->

    {% include "sidebar.html" %}
    <!-- Content Area -->
    <div class="flex flex-col flex-1 p-4">
      <!-- Content block -->
      <div class="bg-white p-4 rounded shadow">
        <!-- Block-specific content goes here -->
        {% block content %}

        {% endblock content %}
      </div>
    </div>
    {% endif %}
  </div>
  {{ room_name|json_script:"room-name" }}
  <script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const chatSocket = new WebSocket(
      'ws://'
      + window.location.host
      + '/ws/notification/'
      + roomName
      + '/'
    );

    chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      //document.querySelector('#chat-log').value += (data.message + '\n');
    };

    chatSocket.onclose = function (e) {
      console.error('Chat socket closed unexpectedly');
    };
  </script>
</body>

</html>