<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>DUCSU</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
  <!-- for icons  -->
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
  <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="flex flex-col min-h-screen">
  <!-- Include Navbar -->

  {% include "navbar.html" %} {% if request.user.is_authenticated %}

  <!-- Sidebar and Content -->
  <div class="flex flex-row flex-1">
    <!-- Include Sidebar -->

    {% include "sidebar.html" %}
    <!-- Content Area -->
    <div class="flex flex-col flex-1 p-4">
      <!-- Content block -->
      <div class="bg-white p-4 rounded shadow">
        <!-- Block-specific content goes here -->
        {% block content %}

        {% endblock content %}
      </div>
    </div>
    {% endif %}

  </div>


</body>

</html>