<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->

    <!-- sidebar menu: style can be found in sidebar.less -->
    <ul class="mt-4 space-y-2" data-widget="tree">
      {% if request.user.username == 'admin' %}
  
      <li class="text-green-500">REPORTS</li>
      <li class="text-green-500"><a href="#"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
      <li class="text-green-500"><a href="#"><i class="fa fa-lock"></i> <span>Votes</span></a></li>
      <li class="text-green-500">MANAGE</li>
      <li class="text-green-500"><a href=" "><i class="fa fa-users"></i> <span>Voters</span></a></li>
      <li class="text-green-500"><a href=" {% url 'position' %}"><i class="fa fa-tasks"></i> <span>Positions</span></a></li>
      <li class="text-green-500"><a href=" {% url 'add_position' %}"><i class="fa fa-tasks"></i> <span> Add Positions</span></a></li>

      <li class="text-green-500"><a href=" {% url 'voters' %}"><i class="fa fa-tasks"></i> <span>Voters</span></a></li>

      <li class="text-green-500"><a href="#"><i class="fa fa-black-tie"></i> <span>Candidates</span></a></li>
      <li class="text-green-500"><a href="#"><i class="fa fa-file-text"></i> <span>Ballot Position</span></a></li>
            
      {% endif %}
        
      <li class="text-green-500">EXIT</li>
      <li class="text-green-500"><a href="{% url 'logout' %}"><i class="fa fa-power-off"></i> <span>Logout</span></a></li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
