{% load static %}
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="bg-[#032245] pt-14">
    <!-- Sidebar user panel -->
    {% comment %} <div class="user-panel">
      <div class="pull-left info">
        <p class="text-white text-3xl ">{{ request.user.username }}</p>
        <a class="text-white"><i class="fa fa-circle text-success"></i> Online</a>
      </div>

    </div> {% endcomment %}



    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="mt-4 space-y-2">
      {% if request.user.username == 'admin' %}

      <li>
        <a href="{% url 'userDashboard' %}"class="text-white block py-2 px-4 hover:bg-white font-bold pl-4">
          <i class='bx bxs-dashboard'></i> 
          Dashboard
        </a>
      </li>

      <li>
        <a href="{% url 'viewPositions' %}"class="text-white block py-2 px-4 hover:bg-white font-bold">
          <i class="fa fa-tasks"></i>
          Positions
        </a>
      </li>
                          
      <li>
        <a href="{% url 'viewCandidates' %}"class="text-white block py-2 px-4 hover:bg-white font-bold">
          <i class="fa fa-tasks"></i>
           Candidates
        </a>
      </li>
                                  
      <li>
        <a href="{% url 'adminViewVoters' %}" class="text-white block py-2 px-4 hover:bg-white font-bold">
          <i class="fa fa-tasks"></i> 
          Voters
        </a>
      </li>

      
      <li>
        <a href="{% url 'ballot_position' %}"  class="text-white block py-2 px-4 hover:bg-white font-bold">
          <i class="fa fa-file-text"></i> 
          <span>Ballot Position</span>
        </a>
      </li>


      <li>
        <a href="#config" class="text-white block py-2 px-4 hover:bg-white font-bold" data-toggle="modal">
          <i class="fa fa-cog"></i> 
          <span>Election Title</span>
        </a>
      </li>                                    
                                  
      {% endif %}
      <hr>
      <li>
        <a href="{% url 'voterDashboard' %}"class="text-white block py-2 px-4 hover:bg-white font-bold">
          <i class="fa fa-dashboard"></i>
          <span>Voter Dashboard</span>
        </a>
      </li>

      <li>
        <a href="{% url 'show_ballot' %}"class="text-white block py-2 px-4 hover:bg-white font-bold">
          <i class="fa fa-dashboard"></i> 
          <span>Show Ballot</span>
        </a>
      </li>
              
      <li>
        <a href="" class="text-white block py-2 px-4 hover:bg-white font-bold">
          <i class="fa fa-dashboard"></i> 
            <span>My profile</span>
          </a>
      </li>

      <li>
        <a href="{% url 'account_logout' %}"class="text-white block py-2 px-4 hover:bg-white font-bold">
          <i class="fa fa-power-off"></i> 
          <span>Logout</span>
        </a>
      </li>

      <li>
        <a href="{% url 'change_pass' %}"class="text-white block py-2 px-4 hover:bg-white font-bold">
          <i class="fa fa-power-off"></i> 
          <span>pass_change</span>
        </a>
      </li>

</ul>
  </section>
  <!-- /.sidebar -->
</aside>