{% extends 'root.html' %}

{% block head_title %} DUCSU | Show Ballot{% endblock %} 
{% block content %}

<div class="w-[600px] mx-auto ml-[250px]">

<form method="POST" id="ballotForm" action="{% url 'submit_ballot' %}">
  {% csrf_token %}
  {{ ballot|safe }}
  <div class="text-center gap-6 flex justify-center">
    <button type="button" class="text-white border-green-500 bg-green-500 rounded-md p-2 hover:bg-green-700" id="preview"><i
            class="fa fa-file-text"></i> Preview</button>
    <button type="submit" class=" text-white border-blue-500 bg-blue-500 rounded-md p-2 hover:bg-blue-700" name="submit_vote"><i
            class="fa fa-check-square-o"></i> Submit</button>
</div>
</form>
    </div>
{% endblock content %}
